<!DOCTYPE html>
<html>
<head lang="he">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<h1><%= title %></h1>
<BR>
<BR>
<BR>
<table BORDER="1">
    <%for(var i=0 ; i< items.length ; i++){%>
    <tr>

        <td><%= items[i].IssuingNetwork %></td>
        <td><%= items[i].CardNumber %></td>

    </tr>
    <% }%>
</table>
<br/>
<form action="/cnc/assets" method="post">
   please enter card name here    <input type="text" name="newCardName"/><br/>
   please enter card number here  <input type="text" name="newCardNum"/><br/>
    <input type="submit" value="add New"/>
</form>
<p>NumAssets : <%= items.length%> </p>

<form action="/cnc/assets" method="get">

    <input type="submit" value="delete All"/>
</form>


</body>
</html>